<footer class="footer">
  <div class="footer__content">
    <img src="assets/fever.svg" alt="Fever Logo" class="footer__logo">

    <div class="footer__links">
      <div class="info-column">
        <span class="info-column__title">How Fever Works</span>
        <a class="info-column__link" href="https://feverpartners.zendesk.com/hc/en-us/categories/24485199728018-FeverZone-Guide" target="_blank">
          FeverZone Guide
        </a>
        <a class="info-column__link" href="https://feverpartners.zendesk.com/hc/en-us/categories/24485214236946-FAQs-Use-Cases" target="_blank">
          Frequently Asked Questions
        </a>
        <a class="info-column__link" href="https://docs.google.com/document/d/1dBn7RqSgaUyRepILuFQubLh0Z4X1D_393IL89LfPRRk/edit?usp=sharing" target="_blank">
          Validation Guide
        </a>
        <a class="info-column__link" href="#" tabindex="0">
          How to validate tickets
        </a>
      </div>

      <div class="info-column">
        <span class="info-column__title">Partners' support contact</span>
        <a class="info-column__link" href="tel:+44 1647 407 040">+44 1647 407 040</a>
        <div class="info-column__link">
          <span>Monday to Friday (08:30 - 17:30)</span>
        </div>
        <a class="info-column__link" href="#" target="_blank">Send us a message</a>
      </div>
    </div>
  </div>

  <div class="footer__separator"></div>

  <div class="footer__copyright">
    <div class="bl-footer-copyright">
      <p class="el-footer-copyright">&copy;2026 Fever</p>
    </div>
    <div class="bl-footer-copyright">
      <p class="el-footer-copyright">v. 12.0.6</p>
    </div>
  </div>
</footer>
